.about-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
}

/* about content */
.about-content {
  flex: 1.5;
  margin-bottom: 4rem;
}

.about-content__title {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 2.6rem;
  line-height: 6rem;
  color: var(--o-red);
}

.about-content__title--title {
  color: var(--gray);
}

.about-content__name {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 3rem;
  text-transform: uppercas;
  text-transform: uppercase;
  line-height: 4rem;
  color: var(--gray);
  text-decoration: underline;
  text-underline-offset: 8px;
}

.about-content__desc {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2rem;
  color: var(--gray);
}

/* about img card */
.about-img-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-profile {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 17%;
}

.tech-icon__icon--node {
  color: rgb(246, 255, 0);
}
.tech-icon__icon--express {
  color: rgb(0, 255, 225);
}
.tech-icon__icon--mongodb {
  color: rgb(0, 255, 13);
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    padding-top: 5rem;
  }
  .about-img {
    margin: 2rem 0 2rem 0;
  }
  .about-content__name,
  .about-content__title,
  .about-content__desc {
    width: auto;
  }
  .about-content__title {
    line-height: 2rem;
    font-size: 2.2rem;
  }
  .about-content__name {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .about-content__desc {
    font-size: 0.9rem;
  }
  .about-img {
    margin: 1rem 0;
  }
  .about-content {
    margin-bottom: 1rem;
  }
  .about-img-card{
    margin-top: 0;
    gap: 0;
  }
}

@media (max-width: 768px) {
  .about-container {
    padding-top: 5rem;
  }
  .about-content__title {
    font-size: 2rem;
    line-height: 4rem;
  }
  .about-content__name {
    font-size: 1.4rem;
    line-height: 1rem;
  }
  .about-content__desc {
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }
  .home-profile {
    height: 24rem;
  }
  .about-content__desc {
    line-height: 1.6rem;
  }
  .about-img {
    margin: 1rem 0;
  }
}

@media (max-width: 600px) {
  .about-container {
    padding-top: 5rem;
  }
  .about-content__title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .about-content__desc {
    font-size: 0.8rem;
    line-height: 1.6rem;
  }
  .about-img-card {
    gap: 0rem;
    margin-top: 0;
  }
  .home-profile {
    width: 18rem;
    height: 20rem;
  }
  .tech-icon__icon {
    font-size: 2.4rem;
  }
}

@media (max-width: 420px) {
  .about-content__name {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .about-content__desc {
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin-top: 1rem;
  }
  .about-content__title {
    font-size: 1.4rem;
  }
  .about-img {
    gap: 1rem;
    margin: 0.5rem 0;
  }
  .about-img {
    gap: 1rem;
  }
  .home-profile {
    width: 14rem;
    height: 16rem;
  }
  .tech-icon__icon {
    font-size: 2.4rem;
  }
}
