.home-container {
  display: flex;
  align-items: center;
  position: relative;
}

.home-container::before,
.home-container::after {
  content: " ";
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: rgb(10, 10, 10);
  z-index: -1;
  position: absolute;
  filter: blur(255px);
}

.home-container::before {
  left: 0;
  top: 0;
}
.home-container::after {
  right: 0;
  bottom: 2rem;
}

/* home content */
.home-content__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem;
  text-transform: uppercase;
  color: var(--o-red);
}


.home-content__title--title {
  color: var(--gray);
}

.home-content__sub-title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--gray);
}

.home-content__desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
  color: var(--gray);
}

/* home img card */
.home-img-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.home-img {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.home-profile {
  width: 25rem;
  height: 25rem;
  border-radius: 17%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.tech-icon {
  padding: 10px;
}

.tech-icon__icon {
  font-size: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in;
}

.home-profile:hover,
.tech-icon__icon:hover {
  transform: translateY(-1rem);
}

.tech-icon__icon--react {
  color: rgb(0, 242, 255);
}
.tech-icon__icon--html {
  color: rgb(255, 47, 0);
}
.tech-icon__icon--css {
  color: rgb(0, 68, 255);
}
.tech-icon__icon--js {
  color: rgb(255, 230, 0);
}
.tech-icon__icon--github {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

@media (max-width: 1100px) {
  .home-profile {
    width: 20rem;
  }
  .home-content__sub-title {
    font-size: 1.6em;
    letter-spacing: 0;
  }
  .home-content__title {
    font-size: 2.3rem;
    line-height: 3rem;
    letter-spacing: 0;
  }
  .home-content__desc {
    font-size: 0.9rem;
    letter-spacing: 0;
  }
  .home-img {
    gap: 1.5rem;
  }
  .tech-icon__icon {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .home-content__title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .home-content__sub-title {
    font-size: 1.3rem;
  }
  .home-content__desc {
    line-height: 1.8rem;
    letter-spacing: 0px;
  }
  .home-profile {
    width: 18rem;
  }
  .tech-icon__icon {
    font-size: 2.8rem;
  }
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    gap: 1.5rem;
  }
  .home-img-card {
    margin-top: 0;
  }
  .home-profile {
    height: 21rem;
  }
}

@media (max-width: 600px) {
  .home-container {
    flex-direction: column;
    gap: 1.5rem;
  }
  .home-content__desc {
    font-size: 0.8rem;
  }
  .home-content__sub-title {
    font-size: 1.2rem;
  }
  .home-content__title {
    font-size: 1.6rem;
  }
  .home-img-card {
    margin-top: 0;
  }
  .home-profile {
    width: 18rem;
  }
  .home-img-card {
    gap: 1rem;
  }
  .home-img {
    gap: 1rem;
  }
}

@media (max-width: 400px) {
  .home-container::after {
    background-color: rgb(76, 76, 76);
    left: 0;
    top: 10rem;
  }
  .home-profile {
    width: 13rem;
  }
  .home-content__title {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .home-content__sub-title {
    font-size: 0.9rem;
  }
  .home-content__desc {
    font-size: 0.7rem;
    line-height: 1.4rem;
  }
  .home-img {
    gap: 0.3rem;
  }
}
