nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--l-black);
    padding: 10px 50px;
    position: fixed;
    top: 0;
    z-index: 33;
}

.logo h3{
    border: 1.5px solid var(--gray);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 4px 10px;
    border-radius: 5px;
    color: var(--o-red);
    font-size: 1rem;
}

.logo h3 span{
    color: var(--gray);
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

ul li a{
    color: var(--gray);
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

ul button{
    padding: 6px 20px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--o-red);
    color: var(--gray);
    cursor: pointer;
    text-transform: uppercase;
}

.menu-btn{
    display: none;
}

@media (max-width: 1100px) {
    nav{
        padding: 10px 20px;
    }
    ul li a{
        font-size: 0.9rem;
    }
    ul button{
        font-size: 0.9rem;
    }
}

@media (max-width: 1000px) {
    .menu-btn{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: var(--gray);
        padding: 2px 8px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.5s ease-in;
    }
    .navigation{
        background-color: var(--l-black);
        opacity: 0.9;
        transition: all 0.3s ease;
        width: 50%;
        height: 100vh;
        position: absolute;
        left: -100%;
        top: 0;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 50px;
    }
    .navigation.active{
        left: 0;
        transition: all 0.3s ease;
    }
    .navigation button{
        width: 100%;
        padding: 10px 20px;
    }
}


@media (max-width: 600px) {
    .menu-btn{
        font-size: 1.9rem;
    }
    .logo h3{
        font-size: 0.9rem;
    }
    .navigation.active{
        width: 100%;
    }
    .navigation button{
        width: 50%;
        font-size: small;
        padding: 8px 20px;
    }
    .navigation li a{
        font-size: small;
    }
}

@media (max-width: 420px) {
    .menu-btn{
        font-size: 1.9rem;
    }
    .logo h3{
        font-size: 0.8rem;
    }
}